*.egg-info
*.py[cod]
*.swp
catalog_bundle
dist
.cache
dist
node_modules
tmp_*

**/.DS_Store

# Visual Studio Code
.vscode
.imdone

# Test coverage
.coverage
cov_html/*

### emacs
*~
[#]*

# Pycharm
.idea
